.table-container {
    flex-grow: 1; 
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  
  table{
    width: 100%;
    overflow: auto;
  }
  
  :host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
    
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
    
  .table-header h2 {
    margin: 0;
  }
  